.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 7px 3px 6px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

div.title {
    font-family: 'Consolas';
    font-size: 14pt;
    font-weight: bold;
    color: #333;
    margin-top: 30px;
}

.code {
    box-sizing: border-box;
    background-color: #eee;
    padding: 12px;
    margin: 5px;
    font-family: 'Consolas';
    font-size: 10.25pt;
}

span#s {
    color: #2D90AD;
}

span#k {
    color: Blue;
}

span#n {
    color: Red;
}

hr {
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #444;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #111;
    padding: 10px;
}

td.col {
    font-weight: bold;
}