<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gaten.GameTool.osu.Mosu_.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gaten.GameTool.osu.Mosu_.Settings>
            <setting name="OsuSongsPath" serializeAs="String">
                <value />
            </setting>
        </Gaten.GameTool.osu.Mosu_.Settings>
    </userSettings>
</configuration>