@inherits LayoutComponentBase

@*
    59,207,134 #3BCF86
    237,49,97 #ED3161
*@
<PageTitle>Tarinance</PageTitle>

<style>
    #footer {
        position: fixed;
        background-color: #3BCF86;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50px;
    }
</style>

<div class="page">
    <main>
        <article>
            @Body
        </article>
    </main>

    <div id="footer">
        <NavMenu />
    </div>
</div>
