@inherits LayoutComponentBase

@*
    59,207,134 #3BCF86
    237,49,97 #ED3161
*@
<PageTitle>Tarinance</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <div id="footer" style="position: fixed; background-color:#3BCF86; left: 0; right: 0; bottom: 0; height: 30;">
        <NavMenu />
    </div>
</div>
