<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    li {
        float: left;
    }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            li a:hover {
                color: white;
                background-color: #04AA6D;
            }

    .active {
        background-color: #04AA6D;
    }
</style>

<ul>
    <li><a href="" class="active">Home</a></li>
    <li><a href="Counter" onclick="">Counter</a></li>
    <li><a href="Contact">Contact</a></li>
</ul>

@code {
    void Click_1()
    {
        
    }
}
