<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gaten.Stock.BinanceBrowser.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gaten.Stock.BinanceBrowser.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Symbol1" serializeAs="String">
                <value />
            </setting>
            <setting name="Symbol2" serializeAs="String">
                <value />
            </setting>
            <setting name="Symbol3" serializeAs="String">
                <value />
            </setting>
            <setting name="Symbol4" serializeAs="String">
                <value />
            </setting>
            <setting name="Symbol5" serializeAs="String">
                <value />
            </setting>
        </Gaten.Stock.BinanceBrowser.Settings>
    </userSettings>
</configuration>